<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6 ie"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7 ie"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <script>
    if ( /*@cc_on!@*/ false) {
        document.documentElement.className += ' ie10';
    }
    //detect ie11 by CSS Capability Testing
    if ('msTextCombineHorizontal' != undefined) {

        //add class if userAgent isn't Chrome or Safari
        var ua = navigator.userAgent;
        var chromesafari_check = new RegExp("Safari");
        if (chromesafari_check.exec(ua) != null) {
            var isMSIE = false;
        } else {
            var isMSIE = true;
        }

        if (isMSIE) {
            document.documentElement.className += ' ie11';
        }
    }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>‘Boots’ Ennis Lands WBA Super-Welterweight Final Eliminator Against Lima In Philadelphia On Oct 11 Live On DAZN | Xfinity Mobile Arena</title>

    
<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="Xfinity Mobile Arena" />
		<meta property="og:title" content="‘Boots’ Ennis Lands WBA Super-Welterweight Final Eliminator Against Lima In Philadelphia On Oct 11 Live On DAZN | Xfinity Mobile Arena" />
		<meta property="og:description" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.xfinitymobilearena.com/news/detail/boots-ennis-lands-wba-super-welterweight-final-eliminator-against-lima-in-philadelphia-on-oct-11-live-on-dazn" />
		<meta property="og:image:width" content="1440"/>
		<meta property="og:image:height" content="535"/>
		<meta property="og:image" content="https://www.xfinitymobilearena.com/assets/img/1440x535-NEW-34d1f26a38.jpg" />
		<meta property="thumbnail" content="https://www.xfinitymobilearena.com/assets/img/740x460-NEW-6cae6eb996.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@XMobileArena" />
		<meta name="twitter:title" content="‘Boots’ Ennis Lands WBA Super-Welterweight Final Eliminator Against Lima In Philadelphia On Oct 11 Live On DAZN | Xfinity Mobile Arena" />
		<meta name="twitter:description" content="Jaron &lsquo;Boots&rsquo; Ennis will start the journey to becoming a two-weight World champion with a final eliminator for the WBA World Super-Welterweight title against IBO champion Uisma Lima on Saturday October 11 at Wells Fargo Center in Philadel" />
		<meta name="twitter:image" content="https://www.xfinitymobilearena.com/assets/img/1440x535-NEW-34d1f26a38.jpg" />
		
		<meta name="viewport" content="width=1200" />

		<meta name="facebook-domain-verification" content="3qyeqsb89950ovuu2uat1ccom1ai0w" />
	
    <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
            <link rel="stylesheet" media="screen" href="/assets-hybrid-framework--modular-js/production/7700994fa8/css/hybrid_framework.css">
            	    <link rel="stylesheet" media="screen" href="/assets-hybrid-framework--modular-js/production/7700994fa8/css/panels_only_base.css">
    			    <link rel="stylesheet" media="screen" href="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/css/style.css">
        
    <link rel="stylesheet" media="print" href="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/css/print.css">
        <script>
    var BASE_URL = "https://www.xfinitymobilearena.com/";
    var APPLICATION_URL = "https://www.xfinitymobilearena.com/";
    var S3_BUCKET = "wellsfargocenterphilly";
    var SHOWTIME_TRANSLATION_ID = "engUS";
    var FRAMEWORK_ASSETS_PATH = "91273917cc";
    var FRAMEWORK_JS_PATH = "/assets-hybrid-framework--modular-js/production/7700994fa8/js/app.optimized";
    var FRAMEWORK_PATH_TO_JS = "/assets-hybrid-framework--modular-js/production/7700994fa8/js";
    var SITE_S3_URL = "https://www.xfinitymobilearena.com/assets/production/3f30235c8d/";
        var ADMIN_S3_URL = "/assets-showtime/production/df1b871dcb/";
        var _sf_startpt = (new Date()).getTime();
    </script>

        <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/libs/layout.engine.min.js"></script>
    
        <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/libs/modernizr.min.js"></script>
    
    <!-- OneTrust Cookies Consent Notice start for https://www.xfinitymobilearena.com/ -->
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" charset="UTF-8" data-domain-script="019073fd-5b8d-74ad-b3f4-f06c92f7a161"></script>
<script>
</script>
<!-- OneTrust Cookies Consent Notice end for https://www.xfinitymobilearena.com/ -->
    <!-- Twitter conversion tracking base code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
twq('config','oers8');
</script>
<!-- End Twitter conversion tracking base code -->

<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-2X5Q2J1M51></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', ' G-2X5Q2J1M51');
</script>

<script type="text/javascript">
var _elqQ = _elqQ || [];
_elqQ.push(['elqSetSiteId', '1983452']);
_elqQ.push(['elqUseFirstPartyCookie', 'trk.wellsfargocenterphilly.com']);
_elqQ.push(['elqTrackPageView']);
(function() {
function async_load() {
var s = document.createElement('script'); s.type = 'text/javascript';
s.async = true;
s.src = '//img.en25.com/i/elqCfg.min.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
}
async_load(); //modification for GTM compatibility
})();
</script>
        
<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700:latin);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700:latin);
</style>

    
    
    <script>
	var firstViewport = document.getElementsByName("viewport")[0];
	document.head.removeChild(firstViewport);
</script>
<meta id="variable-viewport" name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head><body id="news" class="detail is-not-panel-page">
			
<div class="accessibility_links" style="width: 0px;height: 0;overflow: hidden;" role="complementary" aria-label="Accessibility Toolbar" data-options="default">
	<ul>
		<li><a id="skip_link" class="skip_link" href="#content">Skip to content</a></li>
		<li><a href="/accessibility">Accessibility</a></li>
		<li><a href="http://ev15.evenue.net/cgi-bin/ncommerce3/SEGetGroupList?groupCode=GS&linkID=global-wachovia&RSRC=WEB_VEN&RDAT=BuyTicketsHeader">Buy Tickets</a></li>
		<li><a href="/search">Search</a></li>
	</ul>
</div>
	<div id="container">
		
		<div id="layout">
		
			<header class="header ">
												<div class="header_inner">
    <div class="logo">
			<a href="https://www.xfinitymobilearena.com/" title="Xfinity Mobile Arena">Xfinity Mobile Arena</a>
	</div>    <div class='delimiter'></div>
    	

<button id="nav-toggle" aria-expanded="false" aria-label="Toggle Navigation">
	<span class="top"></span>
	<span class="mid"></span>
	<span class="mid2"></span>
	<span class="bottom"></span>
</button>
<div class="nav_wrapper">
	<nav class="main_nav" data-options="default">
		<ul>
								<li class="page_22 has-sub ">
				<a href="https://www.xfinitymobilearena.com/events" class="page_22"><span>Events</span> & Tickets</a>						<button class="close-button level-1" aria-label="Toggle Events & Tickets Sub Menu" aria-expanded="false"></button>
						<div class="sub">
							<ul>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/big5classic" class="page_310">Toyota Big 5 Classic</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/events/all" class="page_36">All Events</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/events/seating" class="page_42">Seating Charts</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/events/groups" class="page_40">Group Tickets</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/events/box-office" class="page_41">Box Office</a>																			</li>
																	<li class="">
										<a href="https://www.statesidelive.com" class="gh_page page_172 gh_page_redirect page_172" rel="external" target="_blank">Stateside Live! </a>																			</li>
															</ul>
						</div>
									</li>
									<li class="page_23 has-sub ">
				<a href="https://www.xfinitymobilearena.com/premium-seating" class="page_23"><span>Premium</span> Seating</a>						<button class="close-button level-1" aria-label="Toggle Premium Seating Sub Menu" aria-expanded="false"></button>
						<div class="sub">
							<ul>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/premium-seating/suite-ownership" class="page_271">Suite Ownership</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/premium-seating/the-club-level" class="page_309">Club Level Hospitality</a>																			</li>
																	<li class="">
										<a href="https://wellsfargocentersuites.com/events/?categories=&xref=WFCWebsite" class="gh_page page_294 gh_page_redirect page_294" rel="external" target="_blank">Single Event Luxury Suites</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/premium-seating/shift-4-club" class="page_269">Shift4 Club</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/primepoint-social" class="page_65">Primepoint Social</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/premium-seating-contact-us" class="page_250">Contact Us</a>																			</li>
															</ul>
						</div>
									</li>
									<li class="page_24 has-sub ">
				<a href="https://www.xfinitymobilearena.com/guest-services" class="page_24"><span>Plan</span> Your Visit</a>						<button class="close-button level-1" aria-label="Toggle Plan Your Visit Sub Menu" aria-expanded="false"></button>
						<div class="sub">
							<ul>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/guest-services" class="page_49">Guest Services A to Z</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/primepoint-social" class="page_307">Primepoint Social</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/concessions" class="page_45">Concessions</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/directions" class="page_43">Directions</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/parking" class="page_44">Parking</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/code-of-conduct" class="page_275">Code of Conduct</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/security-policy" class="page_227">Security Policy</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/accessibility-information" class="page_47">Accessibility Information</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/plan-your-visit/bricks" class="page_299">Find Your Brick</a>																			</li>
															</ul>
						</div>
									</li>
									<li class="page_26 has-sub ">
				<a href="https://www.xfinitymobilearena.com/connect-with-us/cyber-club" class="page_26"><span>Connect</span> With Us</a>						<button class="close-button level-1" aria-label="Toggle Connect With Us Sub Menu" aria-expanded="false"></button>
						<div class="sub">
							<ul>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/connect-with-us/newsletter" class="page_55">Newsletter</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/connect-with-us/lost-and-found" class="page_301">Lost and Found</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/connect-with-us/contact-us" class="page_59">Contact Us</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/connect-with-us/venue-tours" class="page_50">Venue Tours</a>																			</li>
																	<li class="">
										<a href="http://www.comcastspectacor.com/careers" class="gh_page page_57 gh_page_redirect page_57" rel="external" target="_blank">Employment Opportunities</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/news" class="page_58">News</a>																			</li>
																	<li class="">
										<a href="https://www.xfinitymobilearena.com/connect-with-us/arena-history" class="page_91">Arena History</a>																			</li>
															</ul>
						</div>
									</li>
									<li class="page_136 no-sub ">
				<a href="http://shop.wfcphilly.com/" class="gh_page page_136 gh_page_redirect page_136" rel="external" target="_blank"><span>Team</span> Store</a>				</li>
							<li class='nav_search_wrapper'>
			<div class="search_wrapper">
    <div class='toggle_wrap'>
        <button class="search_toggle" aria-expanded="false" aria-label="Open Search Form">
            <svg aria-hidden='true' width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.1933 21.0833C16.9797 21.0833 20.8599 17.2031 20.8599 12.4167C20.8599 7.6302 16.9797 3.75 12.1933 3.75C7.40681 3.75 3.52661 7.6302 3.52661 12.4167C3.52661 17.2031 7.40681 21.0833 12.1933 21.0833Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.0266 23.2501L18.3141 18.5376" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            <svg aria-hidden='true' class='close' width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.0583 21.2428L3.7572 19.9417L10.9132 12.7857L3.7572 5.62971L5.0583 4.32861L12.2143 11.4846L19.3704 4.32861L20.6715 5.62971L13.5154 12.7857L20.6715 19.9417L19.3704 21.2428L12.2143 14.0868L5.0583 21.2428Z" fill="white"/>
</svg>
        </button>
    </div>
    <div class='form_wrapper'>
        <div class="chsearch-app" data-options="default">
</div>
<template id="search_events_template">
    <div class="showtime-search-instant-result">
        <div class="event_list">
            <div class="eventItem entry small clearfix">
                <div class="thumb">
                    <a :href="data.full_url" :title="'More Info for ' + decodeURI(data.name)" tabindex="-1">
                        <img :src="data.image" v-if="data.image" :alt="'More Info for ' + decodeURI(data.name)" />
                        <img v-else src="https://www.xfinitymobilearena.com/assets/img/thumbnail-v2-bf1dd5938b.jpg" :alt="'More Info for ' + decodeURI(data.name)" />
                    </a>
                </div>
                <div class="info clearfix">
                    <div class="date" v-html="data.date_override ? data.date_override : data.date_string"></div>
                    <div class="presented-by" v-if="data.presented_by" v-html="data.presented_by"></div>
                    <div class="h3 title">
                        <a :href="data.full_url" title="More Info" v-html="decodeURI(data.name)"></a>
                    </div>
                    <div class="tagline" v-html="data.tagline"></div>
                    <div class="meta">
                        <div class="h5 location">
                            {{data.venue}}
                        </div>
                    </div>
                                    </div>
                <div class="buttons">
                    <div class="ticket_wrapper" v-if="data.ticket_link_accessible" v-html="data.ticket_link_accessible"></div>
                    <div class="extra_buttons" v-if="data.extra_event_button_link && data.extra_event_button_link.items && data.extra_event_button_link.items.length > 0">
                        <a v-for="link in data.extra_event_button_link.items.slice(0, 2)" :href="link.url" :title="link.title" class="extra_button">{{link.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_news_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <a :href="data.full_url">
                        <div class="info">
                            <div class="title" v-html="decodeURI(data.name)">
                            </div>
                            <span class="date" v-html="data.date_string"></span>
                            <div class="teaser" v-html="data.highlight"></div>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_pages_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_venues_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_other_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>    </div>
</div>		</li>
		</ul>
	</nav>
</div>    <div class='delimiter'></div>
    <div class='team_group'>
        <div class='teams_heading'>
            <span>Proud Home Of</span>
        </div>
        <div class='teams_inner'>
                            <div class="team_links">
                    <a href="https://www.nhl.com/flyers/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/flyers-796a2baa3f.png" alt="" /></a><a href="https://www.nba.com/sixers/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/76-961dffac9d.png" alt="" /></a><a href="https://wingslax.com/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/Primary-Icon-Full-Color-2-copy-53-3f460a34c2.png" alt="" /></a><a href="https://villanova.com/sports/mens-basketball" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/nova-logo-37x27-a99a37203e.png" alt="" /></a>                </div>
                    </div>
    </div>
    <div class='header_search_wrapper'>
        <div class="search_wrapper">
    <div class='toggle_wrap'>
        <button class="search_toggle" aria-expanded="false" aria-label="Open Search Form">
            <svg aria-hidden='true' width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.1933 21.0833C16.9797 21.0833 20.8599 17.2031 20.8599 12.4167C20.8599 7.6302 16.9797 3.75 12.1933 3.75C7.40681 3.75 3.52661 7.6302 3.52661 12.4167C3.52661 17.2031 7.40681 21.0833 12.1933 21.0833Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.0266 23.2501L18.3141 18.5376" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            <svg aria-hidden='true' class='close' width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.0583 21.2428L3.7572 19.9417L10.9132 12.7857L3.7572 5.62971L5.0583 4.32861L12.2143 11.4846L19.3704 4.32861L20.6715 5.62971L13.5154 12.7857L20.6715 19.9417L19.3704 21.2428L12.2143 14.0868L5.0583 21.2428Z" fill="white"/>
</svg>
        </button>
    </div>
    <div class='form_wrapper'>
        <div class="chsearch-app" data-options="default">
</div>
<template id="search_events_template">
    <div class="showtime-search-instant-result">
        <div class="event_list">
            <div class="eventItem entry small clearfix">
                <div class="thumb">
                    <a :href="data.full_url" :title="'More Info for ' + decodeURI(data.name)" tabindex="-1">
                        <img :src="data.image" v-if="data.image" :alt="'More Info for ' + decodeURI(data.name)" />
                        <img v-else src="https://www.xfinitymobilearena.com/assets/img/thumbnail-v2-bf1dd5938b.jpg" :alt="'More Info for ' + decodeURI(data.name)" />
                    </a>
                </div>
                <div class="info clearfix">
                    <div class="date" v-html="data.date_override ? data.date_override : data.date_string"></div>
                    <div class="presented-by" v-if="data.presented_by" v-html="data.presented_by"></div>
                    <div class="h3 title">
                        <a :href="data.full_url" title="More Info" v-html="decodeURI(data.name)"></a>
                    </div>
                    <div class="tagline" v-html="data.tagline"></div>
                    <div class="meta">
                        <div class="h5 location">
                            {{data.venue}}
                        </div>
                    </div>
                                    </div>
                <div class="buttons">
                    <div class="ticket_wrapper" v-if="data.ticket_link_accessible" v-html="data.ticket_link_accessible"></div>
                    <div class="extra_buttons" v-if="data.extra_event_button_link && data.extra_event_button_link.items && data.extra_event_button_link.items.length > 0">
                        <a v-for="link in data.extra_event_button_link.items.slice(0, 2)" :href="link.url" :title="link.title" class="extra_button">{{link.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_news_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <a :href="data.full_url">
                        <div class="info">
                            <div class="title" v-html="decodeURI(data.name)">
                            </div>
                            <span class="date" v-html="data.date_string"></span>
                            <div class="teaser" v-html="data.highlight"></div>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_pages_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_venues_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template><template id="search_other_template">
    <div class="showtime-search-instant-result">
        <div class="spotlight content_item">
            <div class="list">
                <div class="entry">
                    <div class="info">
                        <a :href="data.full_url">
                            <h3 class="title" v-html="decodeURI(data.name)"></h3>
                            <span class="more button btn btn-general" :href="data.full_url">
                                More Info
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>    </div>
</div>    </div>
</div>

							</header>
			
			<div id="content" class="clearfix  " role="main" tabindex="0" aria-label="Main Content" data-options="default">
			    <div class="full hybrid news_detail_page clearfix has_branding">
				<div class="page_header">
    <div class="breadcrumbs"><a href="https://www.xfinitymobilearena.com/">Home</a><span class="breadcrumb_divider">|</span><a href="https://www.xfinitymobilearena.com/connect-with-us/cyber-club">Connect With Us</a><span class="breadcrumb_divider">|</span><a href="https://www.xfinitymobilearena.com/news">News</a><span class="breadcrumb_divider">|</span><span>‘Boots’ Ennis Lands WBA Super-Welterweight&#8230;</span></div></div>	
		<div class="full_column non-widget-area news_detail">
		<div class="main_column">
												<div id="branding" class="spotlight_image">
						<img src="https://www.xfinitymobilearena.com/assets/img/1440x535-NEW-34d1f26a38.jpg" alt="" />											</div>
																	<div class="news_info content">
					<div class="textarea content_item">
						<div class="content">
																								<div class="news_heading">
																				<h1 class="news_title">‘Boots’ Ennis Lands WBA Super-Welterweight Final Eliminator Against Lima In Philadelphia On Oct 11 Live On DAZN</h1>
																					<div class="date"><span class="m-date__singleDate"><span class="m-date__month">Aug </span><span class="m-date__day">12</span><span class="m-date__year">, 2025</span></span></div>
																			</div>
																																					
							<p>Jaron &lsquo;Boots&rsquo; Ennis will start the journey to becoming a two-weight World champion with a final eliminator for the WBA World Super-Welterweight title against IBO champion Uisma Lima on Saturday October 11 at Wells Fargo Center in Philadelphia, live worldwide on DAZN.<i>&nbsp;</i>Ennis (34-0 30 KOs) recently made the decision to move up in weight following his stunning win over Eimantas Stanionis in a Welterweight unification clash in Atlantic City in April, forcing the WBA champion to quit on his stool after six punishing rounds of action.</p>

<p><br />
&lsquo;Boots&rsquo;, who penned a long-term multi-fight extension to his promotional deal with Eddie Hearn and Matchroom in July, begins his assault on the 154lb division in what will be his third headline turn at Wells Fargo in his beloved hometown since teaming up with Hearn, and does so against a dangerous foe.</p>

<p><br />
Lima (14-1 10 KOs) landed the IBO title at Super-Welterweight in December against Sukhdeep Singh Bhatti in Canada, and defended the strap for the first time against Shervantaigh Koopman in South Africa in April, and the well-traveled Angolan enters the lion&rsquo;s den once against against Ennis, in the 32 year old&rsquo;s first bout in the United States.</p>

<p><br />
&quot;They can say what they want it don&rsquo;t make me a difference,&quot; <b>said Jaron &#39;Boots&#39; Ennis. </b>&nbsp;&quot;These dudes can&rsquo;t tie my shoes. I&#39;m the best in the world and they know it! I&nbsp;want all the big names and belts - THE TOUR CONTINUES.&quot;</p>

<p><br />
&ldquo;I am very excited to be taking on the biggest challenge of my life against a legit, World-level fighter in Ennis,&rdquo; <b>said Lima</b>. &ldquo;I believe in myself, I want to thank my team for everything they have done and on October 11 we will be coming to war. Please don&rsquo;t take me lightly, Boots, as I am coming to win.&rdquo;</p>

<p><br />
&ldquo;I cannot wait to see Boots at 154lbs,&rdquo; <b>said Hearn</b>. &ldquo;Jaron was outstanding in what turned out to be his last fight at 147lbs, but after listening to his body, it&rsquo;s time to start the journey to two-weight glory, and I cannot wait to see what sort of animal this man will be at his new weight.</p>

<p><br />
&ldquo;But October 11 is a real test. Uisma has consistently won fights on hostile territory, and the big-hitting African is coming to Philly to make a name for himself and take those big fights that are there for Boots next.&rdquo;</p>
						</div>
					</div>
																<div class="events content_item">
							<div class="eventList event_list eventList__listing " style="visibility: visible;">
								<div class="eventList__wrapper list" id="list">
											<div class="eventItem entry secondary featured clearfix">
			<div class="thumb">
		<a href="https://www.xfinitymobilearena.com/events/detail/boots-ennis-10-11" title="More Info for Matchroom Boxing Presents: Jaron Ennis vs Uisma Lima" tabindex="-1"><img src="https://www.xfinitymobilearena.com/assets/img/740x460-NEW-6cae6eb996.jpg" alt="More Info for Matchroom Boxing Presents: Jaron Ennis vs Uisma Lima"/></a>		
</div>			<div class="info clearfix">
				<div class="date">
	<span class="m-date__singleDate"><span class="m-date__month">Oct. </span><span class="m-date__day">11</span><span class="m-date__year">, 2025</span></span>	</div>
	
	<h3 class="title  long_title">
		<a href="https://www.xfinitymobilearena.com/events/detail/boots-ennis-10-11" title="More Info">Matchroom Boxing Presents: Jaron Ennis vs Uisma Lima</a>	</h3>
				</div>
			<div class="buttons">
	<div class='ticket_wrapper'>
		<a href="https://www.ticketmaster.com/event/300062FFAFD24458" target="_blank" class="tickets onsalenow " title="Buy Tickets for Matchroom Boxing Presents: Jaron Ennis vs Uisma Lima ">Buy Tickets</a>	</div>
							<div class='extra_buttons'>
							<a href="https://xfinitymobilearenasuites.com/events/Matchroom-Boxing-Presents-Jaron-Ennis-vs-Uisma-Lima-111838/?xref=XMAwebsite" class="extra_button" target="_blank">SUITES</a>															<a href="https://www.ticketmaster.com/parking-matchroom-boxing-philadelphia-pennsylvania-10-11-2025/event/3000630CBC4E1D7D" class="extra_button" target="_blank">PARKING</a>								
		</div>
	</div>
		</div>
								</div>
							</div>
						</div>
									</div>
					</div>
	</div>
</div>
			    <button aria-label="Back to Top" class="back-to-top">
					<span class="icon">
											</span>
					<span class="text">Top</span>
			    </button>
		    </div>
		    <footer class="footer ">
				<div class="footer_holder clearfix">
	<div class='top'>
				<div class='footer_map_wrapper' >
			<div class='directions_info'>
				<span>Getting Here</span>
									<p>
						3601 South Broad Street   <br />
						Philadelphia, Pennsylvania 19148					</p>
								<a href="https://www.xfinitymobilearena.com/plan-your-visit/directions">Get Directions</a>			</div>
		</div>
	</div>
		<div class='background_wrapper'>
		<div class='middle'>
			<div class="footer_nav">
				<ul>
																	<li class="page_22 has-sub ">
								<a href="https://www.xfinitymobilearena.com/events" class="page_22">Events & Tickets</a>									<div class="nav_sub">
										<ul>
																							<li>
													<a href="https://www.xfinitymobilearena.com/big5classic" class="page_310">Toyota Big 5 Classic</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/events/all" class="page_36">All Events</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/events/seating" class="page_42">Seating Charts</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/events/groups" class="page_40">Group Tickets</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/events/box-office" class="page_41">Box Office</a>												</li>
																							<li>
													<a href="https://www.statesidelive.com" class="gh_page page_172 gh_page_redirect page_172" rel="external" target="_blank">Stateside Live! </a>												</li>
																					</ul>
									</div>
															</li>
																		<li class="page_23 has-sub ">
								<a href="https://www.xfinitymobilearena.com/premium-seating" class="page_23">Premium Seating</a>									<div class="nav_sub">
										<ul>
																							<li>
													<a href="https://www.xfinitymobilearena.com/premium-seating/suite-ownership" class="page_271">Suite Ownership</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/premium-seating/the-club-level" class="page_309">Club Level Hospitality</a>												</li>
																							<li>
													<a href="https://wellsfargocentersuites.com/events/?categories=&xref=WFCWebsite" class="gh_page page_294 gh_page_redirect page_294" rel="external" target="_blank">Single Event Luxury Suites</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/premium-seating/shift-4-club" class="page_269">Shift4 Club</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/primepoint-social" class="page_65">Primepoint Social</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/premium-seating-contact-us" class="page_250">Contact Us</a>												</li>
																					</ul>
									</div>
															</li>
																		<li class="page_24 has-sub ">
								<a href="https://www.xfinitymobilearena.com/guest-services" class="page_24">Plan Your Visit</a>									<div class="nav_sub">
										<ul>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/guest-services" class="page_49">Guest Services A to Z</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/primepoint-social" class="page_307">Primepoint Social</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/concessions" class="page_45">Concessions</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/directions" class="page_43">Directions</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/parking" class="page_44">Parking</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/code-of-conduct" class="page_275">Code of Conduct</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/security-policy" class="page_227">Security Policy</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/accessibility-information" class="page_47">Accessibility Information</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/plan-your-visit/bricks" class="page_299">Find Your Brick</a>												</li>
																					</ul>
									</div>
															</li>
																		<li class="page_26 has-sub ">
								<a href="https://www.xfinitymobilearena.com/connect-with-us/cyber-club" class="page_26">Connect With Us</a>									<div class="nav_sub">
										<ul>
																							<li>
													<a href="https://www.xfinitymobilearena.com/connect-with-us/newsletter" class="page_55">Newsletter</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/connect-with-us/lost-and-found" class="page_301">Lost and Found</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/connect-with-us/contact-us" class="page_59">Contact Us</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/connect-with-us/venue-tours" class="page_50">Venue Tours</a>												</li>
																							<li>
													<a href="http://www.comcastspectacor.com/careers" class="gh_page page_57 gh_page_redirect page_57" rel="external" target="_blank">Employment Opportunities</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/news" class="page_58">News</a>												</li>
																							<li>
													<a href="https://www.xfinitymobilearena.com/connect-with-us/arena-history" class="page_91">Arena History</a>												</li>
																					</ul>
									</div>
															</li>
																		<li class="page_136 no-sub ">
								<a href="http://shop.wfcphilly.com/" class="gh_page page_136 gh_page_redirect page_136" rel="external" target="_blank">Team Store</a>							</li>
															</ul>
			</div>
			<hr>
		</div>
		<div class='bottom'>
			<div class='contact_info'>
				<div class='logo_social'>
					<div>
						<div class="logo">
			<a href="https://www.xfinitymobilearena.com/" title="Xfinity Mobile Arena">Xfinity Mobile Arena</a>
	</div>						<div class="social">
							<a href="https://www.instagram.com/xfinitymobilearena" title="Instagram" aria-label="Instagram" target="_blank" class="fa-brands fa-instagram"></a><a href="https://www.facebook.com/xfinitymobilearena" title="Facebook" aria-label="Facebook" target="_blank" class="fa-brands fa-facebook-f"></a><a href="https://www.twitter.com/XMobileArena" title="Twitter" aria-label="Twitter" target="_blank" class="fa-brands fa-x-twitter"></a>	
						</div>
					</div>
					
									</div>
				
				<div class="footer_address">
											<span class='venue_name'>Xfinity Mobile Arena</span>
						<p class='footer_address'>
							3601 South Broad Street   <br />
							Philadelphia, Pennsylvania 19148						</p>
						<span class='footer_phone'>
							<span>Phone:</span>
							(215) 336-3600<br />
						</span>
									</div>
				<div class='team_group'>
					<div class='teams_heading'>
						<span>Proud Home Of</span>
					</div>
					<div class='teams_inner'>
													<div class="team_links">
								<a href="https://www.nhl.com/flyers/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/flyers-796a2baa3f.png" alt="" /></a><a href="https://www.nba.com/sixers/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/76-961dffac9d.png" alt="" /></a><a href="https://wingslax.com/" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/Primary-Icon-Full-Color-2-copy-53-3f460a34c2.png" alt="" /></a><a href="https://villanova.com/sports/mens-basketball" class="team_logo" aria-label="team logo" target="_blank"><img src="https://www.xfinitymobilearena.com/assets/img/nova-logo-37x27-a99a37203e.png" alt="" /></a>							</div>
											</div>
    			</div>
			</div>
			<div class="global-footer">
				<p>
					Copyright &copy; 2025					Xfinity Mobile Arena.
					<span class='global_links'>
						<a href="https://www.xfinitymobilearena.com/terms-conditions">Terms of Use</a>						<span class="delimiter">|</span>
						<a href="https://www.xfinitymobilearena.com/privacy-policy">Privacy Policy</a>						<span class="delimiter">|</span>
												<a href="https://www.xfinitymobilearena.com/accessibility">Accessibility</a>						<span class="delimiter">|</span>
						<a href="https://comcastspectacor.com/notices/privacy/#:~:text=CALIFORNIA%20RESIDENTS,of%20that%20individual."  target="_blank">CA Notice at Collection</a>						<span class="delimiter">|</span>
						<a href="https://www.xfinitymobilearena.com/sitemap">Site Map</a>					</span>
					<a href="http://www.carbonhouse.com" title="a carbonhouse experience" id="carbonhouse" target="_blank">a <span class="carbon">carbon</span><span class="house">house</span> experience</a>				</p>
			</div>
		</div>
	</div>
</div>
<!-- OneTrust Cookies Settings button start -->
<button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>
<!-- OneTrust Cookies Settings button end -->			</footer>
			
		</div>
		
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Xfinity Mobile Arena",
  "url": "https://www.xfinitymobilearena.com/",
  "sameAs": [
    "https://www.instagram.com/xfinitymobilearena", 
"https://www.facebook.com/xfinitymobilearena", 
"https://www.twitter.com/XMobileArena"  ]
}
</script>

<script type="text/javascript">
    adroll_adv_id = "4NCPB4FPEFHBJGSZR2M6MZ";
    adroll_pix_id = "2JM5SZDSTJHCPNUZVJMWMZ";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
<script type="text/javascript">
    /****** Google Universal Analytics for eVenue ******/
    
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
     ga('create', 'UA-1150944-25', 'auto', {'allowLinker': true});//INSERT PRIMARY ACCOUNT NUMBER HERE
     ga('require', 'linker');
     ga('linker:autoLink', ["evenue.net"]);
     ga('require', 'displayfeatures');
     ga('send', 'pageview');
    
    /****** End Google Universal Analytics ******/
</script>


<!-- Global site tag (gtag.js) - Google Ads: 1040528690 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1040528690"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'AW-1040528690');
</script>
<script>
(function() {
  var loadAlertBar = function loadAlertBar(){		
		var alertMessage = document.getElementById('alertBarMessage');
		
        
		if(alertMessage){
			var alert = document.createElement('div');
			alert.className = 'alertBars';
			alert.innerHTML = '<strong style="color:#063E4B"> '+alertMessage.value+'</strong>';
			alert.style.position = 'fixed';
			alert.style.top = 0;
			alert.style.left = 0;
			alert.style.width = '100%';
			
			alert.style.background = '50px';
			alert.style.borderColor= "rgba(255, 255, 255, 0.5)";
			alert.style.backgroundColor= "#dcecc9";
			alert.style.marginBottom= "0px";
			alert.style.position= "fixed";
			alert.style.width= "100%";
			alert.style.textAlign= "center";
			alert.style.top= "0";
			alert.style.zIndex= "10000";
			alert.style.padding= "10px 35px 10px 14px";
			document.body.appendChild(alert);
		}
	}
   
    var oldonload = window.onload;
   
    var loadFunction = (typeof window.onload != 'function') ?
      loadAlertBar : function() { oldonload(); loadAlertBar();};
    
    window.addEventListener ? 
        window.addEventListener("load",loadFunction,false) : 
        window.attachEvent && window.attachEvent("onload",loadFunction);
  })();

</script>
<script>
  var _sf_async_config = { uid: 33785, domain: "wellsfargocenterphilly.com", useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
     
	};
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      function(){loadChartbeat();} : function() { oldonload(); loadChartbeat();};
  })();
</script>
	</div>
	<script>
		/**
		/* Environemnt set here for javascript app or app.optimized
		 */
		SHOWTIME_ENV = "production";
	</script>
	
            <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/dist/production/vendor.production.js"></script>
        <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/dist/production/component-vendor.production.js"></script>
        <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/dist/production/libs.production.js"></script>
        <script src="https://www.xfinitymobilearena.com/assets/production/3f30235c8d/js/dist/production/site.production.js"></script>
        
    </body>
</html>

